<div class="container">
    <div class="box" [formGroup]="form">
        <label for="nome">Nome:</label>
        <input formControlName="nome" type="text" placeholder="Informe seu nome" />

        <label for="email">E-mail:</label>
        <input formControlName="email" type="text" placeholder="Informe seu e-mail" />

        <label for="senha">Senha:</label>
        <input formControlName="senha" type="password" placeholder="Informe sua senha" />

        <label for="cpf">Cpf:</label>
        <input formControlName="cpf" type="text" placeholder="Informe seu cpf" />

        <label for="telefone">Telefone:</label>
        <input formControlName="telefone" type="text" placeholder="Informe seu telefone" />

        <button (click)="save()">Salvar</button>
    </div>
</div>