<div class="container">
  <div class="box">
    <form>

        <label for="nome">Nome:</label>
        <input type="text" placeholder="Informe seu nome"/>

        <label for="email">E-mail:</label>
        <input type="text" placeholder="Informe seu e-mail"/>

        <label for="senha">Senha:</label>
        <input type="password" placeholder="Informe sua senha"/>

        <label for="cpf">Cpf:</label>
        <input type="text" placeholder="Informe seu cpf"/>

        <label for="telefone">Telefone:</label>
        <input type="text" placeholder="Informe seu telefone"/>

        <input type="submit" value="Salvar">
      </form>
    </div>
  </div>